<launch>
	<!-- Sim time parameter -->
	<param name="/use_sim_time" value="true"/>
	<arg name="description_file"    default="$(find smb_description)/urdf/smb_standalone.urdf.xacro"/>
    <arg name="robot_description" value="robot_description"/>
	<arg name="half_speed"          default="false"/>

    <!-- Load robot description for gazebo -->
	<include file="$(find smb_description)/launch/load.launch">
		<arg name="simulation"       value="true"/>
		<arg name="description_name" value="robot_description"/>
		<arg name="description_file" value="$(arg description_file)"/>
		<arg name="wheel_joint_type" value="continuous"/>
		<arg name="robot_namespace"  value=""/>
		<arg name="publish_tf" value="true"/>
	</include>

	<!--EKF Localization Node-->	
	<node name="ekf_localization_node" pkg="robot_localization" type="ekf_localization_node" output="screen"> 
	 	<rosparam command = "load" file = "$(find smb_control)/config/localization.yaml"/>
	</node>

	<!--SMB_navigation bag Node-->	
	<node name="rosbag_display" pkg="rosbag" type="play" output="screen" args="--rate=0.5 --clock $(find mrob_highlevel_controller)/smb_bag/smb_navigation.bag"/> 

	<!--Rqt Multiplot node-->
	<node name="rqt_multiplot" pkg="rqt_multiplot" type="rqt_multiplot" output="screen"> 
		<remap from="odom" to="/odometry/filtered"/>
	</node>

	<!-- Start robot_state_publisher -->
	<node name="smb_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
		<param name="publish_frequency" value="100"/>
		<param name="use_tf_static"     value="true"/>
		<remap from="robot_description" to="$(arg robot_description)"/>
	</node>

	<!-- Launching static tf publisher to view the robot-->
	<node pkg="tf" type="static_transform_publisher" name="smb_top_view" args="0 0 2 0 0 0 1 base_link smb_top_view 100"/>
	
	<!--Launch rviz-->	
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find mrob_highlevel_controller)/rviz/my_rviz_file.rviz" />

</launch>
