<launch>
  <!-- GAZEBO ARGUMENTS -->
  <env name="GAZEBO_RESOURCE_PATH" value="$(find turtlebot3_gazebo)/models/autorace/ground_picture" />
  <!-- Run Gazebo headless -->
  <arg name="headless"                              value="false"/>
  <!-- Name of the world -->
  <arg name="world"                                 value="empty"/>
  <!-- Path to the world file -->
  <arg name="world_file"                            value="$(find mrob_gazebo)/worlds/$(arg world).world"/>
    <!-- Start paused -->
  <arg name="paused"                                value="false"/>
  <!-- Use simulation clock -->
  <arg name="use_sim_time"                          value="true"/>
  <!-- Debug mode -->
  <arg name="debug"                                 value="false"/>
  <!-- Verbose mode -->
  <arg name="verbose"                               value="true"/>
  <!-- Enable/disable Gazebo GUI -->
  <arg name="run_gui"                               value="true"/>
  
  <!-- Load Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"        value="$(arg world_file)"/>
    <arg name="paused"            value="$(arg paused)"/>
    <arg name="use_sim_time"      value="$(arg use_sim_time)"/>
    <arg name="gui"               value="$(arg run_gui)"/>
    <arg name="headless"          value="$(arg headless)"/>
    <arg name="debug"             value="$(arg debug)"/>
    <arg name="verbose"           value="$(arg verbose)"/>
  </include>

  <!-- LAUNCHING ROBOT 1 -->
  <group ns="robot_0">

    <arg name="robot_name"    value="leader" />
    <arg name="x_pos"         value = "3"/>
    <arg name="y_pos"         value = "3"/>
    <arg name="z_pos"         value="0"/> 
    <param name="tf_prefix"   value="$(arg robot_name)"/>
    <arg name="robot_description"   value="robot_description"/>

    <!-- Spawn robot in Gazebo -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" 
      args="-urdf -model $(arg robot_name) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param $(arg robot_description)" output="screen"/>
    
    <include file="$(find mrob_control)/launch/control.launch">
    <arg name="laser_visual"        value="true"/>
    <arg name="camera_on"           value="false"/>
    <arg name="robot_namespace"     value="$(arg robot_name)"/>
    <arg name="robot_description"   value="$(arg robot_description)"/>
    <arg name="enable_ekf"          value="false" />
    </include>
    
  </group>

  <!-- LAUNCHING ROBOT 1 -->
  <group ns="robot_1">
    <arg name="robot_name"  value="follower" />
    <arg name="x_pos" value = "1"/>
    <arg name="y_pos" value = "3"/>
    <arg name="z_pos" value="0"/> 
    <param name="tf_prefix" value="$(arg robot_name)"/>
    <arg name="robot_namespace" value="$(arg robot_name)"/>
    <arg name="robot_description"   value="robot_description"/>

    <!-- Spawn robot in Gazebo -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" 
      args="-urdf -model $(arg robot_name) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param $(arg robot_description)" output="screen"/>
    
    <include file="$(find mrob_control)/launch/control.launch">
    <arg name="laser_visual"        value="true"/>
    <arg name="camera_on"           value="false"/>
    <arg name="robot_namespace"     value="$(arg robot_namespace)"/>
    <arg name="robot_description"   value="$(arg robot_description)"/>
    <arg name="enable_ekf"          value="false" />
    </include>
  </group>

</launch> 