<launch>
  
  <!-- ARGUMENTS FOR A ROBOT-->
  <arg name="robot_name" default="my_robot"/>
  <arg name="x_pos"         default = "0"/>
  <arg name="y_pos"         default = "0"/>
  <arg name="z_pos"         value="0"/> 
  <arg name="robot_description"   value="robot_description"/>

  <!-- LAUNCHING ROBOT 1 -->
  <group ns="$(arg robot_name)">
  
    <param name="tf_prefix"   value="$(arg robot_name)"/>

    <!-- Spawn robot in Gazebo -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" 
      args="-urdf -model $(arg robot_name) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param $(arg robot_description)" output="screen"/>
    
    <include file="$(find mrob_control)/launch/control.launch">
      <arg name="laser_visual"        value="false"/>
      <arg name="camera_on"           value="true"/>
      <arg name="robot_namespace"     value="$(arg robot_name)"/>
      <arg name="robot_description"   value="$(arg robot_description)"/>
      <arg name="enable_ekf"          value="false" />
    </include>

    <!-- FOLLOWER'S NODES -->
    <!-- Teleop twist for testing -->
    <node if="$(eval robot_name == 'follower')" name="rviz" pkg="rviz" type="rviz" args="-d $(find two_robot_control)/rviz/robot.rviz"/>
    
    <!-- Aruco tracker Node -->
    <node if="$(eval robot_name == 'follower')" pkg="aruco_ros" type="single" name="aruco_single" output="screen">
        <remap from="/camera_info" to="/follower/camera/camera_info"/>
        <remap from="/image" to="/follower/camera/image" />
        <param name="image_is_rectified" value="True"/>
        <param name="marker_size"        value="0.2"/>
        <param name="marker_id"          value="0"/>
        <param name="reference_frame"    value=""/>  
        <param name="camera_frame"       value="follower/camera_frame"/> 
        <param name="marker_frame"       value="follower/aruco_marker_frame" />
        <param name="corner_refinement"  value="LINES" />
    </node>

    <!-- LEADER'S NODES -->
    <!--Highlevel Controller Node-->	
    <node if="$(eval robot_name == 'leader')" name="mrob_highlevel_controller" pkg="mrob_highlevel_controller" type="controller" output="screen">
      <rosparam command = "load" file = "$(find mrob_highlevel_controller)/params/parameters.yaml"/>
      <remap from ="/cmd_vel" to ="/leader/cmd_vel" />
    </node>

    
    <!-- Spawn marker on the robot -->
    <node if="$(eval robot_name == 'leader')" name="spawn_marker_on_robot" pkg="two_robot_controler" type="spawn_marker_on_robot.py" output="screen" />

    <!-- Teleop twist -->
    <node if="$(eval robot_name == 'leader')" name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen"/>
    
    <node if="$(eval robot_name == 'leader')" name="mrob_obstactle_detector" pkg="mrob_highlevel_controller" type="vel_command" output="screen">
      <rosparam command = "load" file = "$(find mrob_highlevel_controller)/params/parameters.yaml"/>
      <!-- <remap from ="/Start_or_Stop_Server" to ="/leader/mrob_obstactle_detector/Start_or_Stop_Server" /> -->
	  </node>
    
      <!-- RQT Multiplot-->
    <node if="$(eval robot_name == 'leader')" name="rqt_multiplot" pkg="rqt_multiplot" type="rqt_multiplot" output="screen"> 
      <!-- <remap from="odom" to="/odometry/filtered"/> -->
    </node>
    

    <!-- Following the leader node (follow) -->
    <node if="$(eval robot_name == 'follower')" name="two_robot_control" pkg="two_robot_control" type="follow" output="screen">
      <rosparam command = "load" file = "$(find two_robot_control)/parameters/params.yaml"/>
    </node>

  </group>
</launch> 