<launch>
  <!-- GAZEBO ARGUMENTS -->
  <env name="GAZEBO_RESOURCE_PATH" value="$(find turtlebot3_gazebo)/models/autorace/ground_picture" />

  <!-- Run Gazebo headless -->
  <arg name="headless"                              default="false"/>
  <arg name="enable_ekf"                            default="false"/>
  <arg name="camera_on"                             default="false"/>
  <arg name="lidar_visual"                          default="false"/>

  <!-- Name of the world -->
  <arg name="world"                                 default="empty"/> <!--turtlebot3_autorace-->
  <!-- Path to the world file -->
  <arg name="world_file"                            default="$(find mrob_gazebo)/worlds/$(arg world).world"/>

  <!-- Start paused -->
  <arg name="paused"                                default="false"/>
  <!-- Use simulation clock -->
  <arg name="use_sim_time"                          default="true"/>
  <!-- Debug mode -->
  <arg name="debug"                                 default="false"/>
  <!-- Verbose mode -->
  <arg name="verbose"                               default="true"/>

  <!-- Enable/disable Gazebo GUI -->
  <arg name="run_gui"                               default="true"/>

  <!-- Load Gazebo world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"        value="$(arg world_file)"/>
    <arg name="paused"            value="$(arg paused)"/>
    <arg name="use_sim_time"      value="$(arg use_sim_time)"/>
    <arg name="gui"               value="$(arg run_gui)"/>
    <arg name="headless"          value="$(arg headless)"/>
    <arg name="debug"             value="$(arg debug)"/>
    <arg name="verbose"           value="$(arg verbose)"/>
  </include>

  <!-- 1st ROBOT ARGUMENTS -->
  <include file="$(find two_robot_control)/launch/both_robots.launch">
    <arg name="robot_name" value="leader"/>
    <arg name="x_pos"         value = "2"/>
    <arg name="y_pos"         value = "2"/>
  </include>

  <!-- 2nd ROBOT ARGUMENTS -->
  <include file="$(find two_robot_control)/launch/both_robots.launch">
    <arg name="robot_name" value="follower"/>
    <arg name="x_pos"         value = "1"/>
    <arg name="y_pos"         value = "2"/>
  </include>
  
  <!-- <node pkg="gazebo_ros" type="spawn_model" name="" 
  args="-sdf -model model.sdf -x 1.0 -y 1.0 -z 1.0" output="screen"/> -->
</launch>